﻿@using Sorter.API.SequenceGenerators
@using Sorter.API.Measurement
@using Sorter.Algorithms.Generators
@{
    ViewBag.Title = "Measurement";
}

<h2>Mérés indítása</h2>
<form class="form">
    <div class="form-group">
        <label for="sequencetype">Tömb kezdeti rendezettsége:</label>
        <select class="form-control" id="sequenceType" name="sequenceType">
            @foreach (var item in SequenceProvider<int>.AllIntegerGenerators)
            {
            <option value="@item.ToString()">@item.ToString()</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="sequenceSize">Tömb mérete:</label>
        <input type="text" class="form-control" id="sequenceSize" value="100">
    </div>
    <div class="form-group">
        <label for="measurementType">Mérés típusa:</label>
        <select class="form-control" id="measurementType" name="measurementType">
            @foreach (var item in Enum.GetNames(typeof(MeasurementType)))
            {
            <option value="@Enum.Parse(typeof(MeasurementType), item)">@item</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="sortType">Rendezési algoritmus típusa:</label>
        <select class="form-control" id="sortType" name="sortType">
            @foreach (var item in Enum.GetNames(typeof(SortType)))
            {
            <option value="@Enum.Parse(typeof(SortType), item)">@item</option>
            }
        </select>
    </div>
    <input class="btn" type="button" id="GetResult" value="Indítás" />
</form>



@section Scripts{ 
    <script>
        $('#GetResult').on('click', null, null, function () {
            var selectedSequenceType = $('#sequenceType').val();
            var selectedSequenceSize = $('#sequenceSize').val();
            var selectedMeasurementType = $('#measurementType').val();
            var selectedSortType = $('#sortType').val();
            window.location.href = `/Measurement/Result?sequenceType=${selectedSequenceType}&sequenceSize=${selectedSequenceSize}&measurementType=${selectedMeasurementType}&sortType=${selectedSortType}`;
        })
    </script>
    <script src="~/Scripts/measurement.js"></script>
}


