﻿@using Sorter.Web.Models
@model MeasurementResultViewModel
@{
    ViewBag.Title = "Eredmény";
}

<h2>Eredmény</h2>

<div class="summary">
    <h3>Teszt beállítások</h3>
    <dl>
        <dt>Rendezés típusa:</dt>
        <dd>@Model.SortType.ToString()</dd>
        <dt>Tömb kezdeti rendezettsége:</dt>
        <dd>@Model.SequenceType.ToString()</dd>
        <dt>Tömb mérete:</dt>
        <dd>@Model.SequenceSize.ToString()</dd>
        <dt>Mérés típusa:</dt>
        <dd>@Model.MeasurementType</dd>
    </dl>
</div>
<div class="summary">
    <h3>Teljesítmény metrikák</h3>
    <dl>
        <dt>Eltelt idő [tick, 100ns]:</dt>
        <dd>@Model.Result.PerformanceCounter.ElapsedTicks</dd>
        <dt>Összehasonlítások száma [db]:</dt>
        <dd>@Model.Result.PerformanceCounter.Comparisons</dd>
        <dt>Iterációk száma [db]:</dt>
        <dd>@Model.Result.PerformanceCounter.Iterations</dd>
        <dt>Metódushívások száma [db]:</dt>
        <dd>@Model.Result.PerformanceCounter.MethodCalls</dd>
        <dt>Maximum lefoglalt memória [sizeof(System.Int32)]:</dt>
        <dd>@Model.Result.PerformanceCounter.MaxAllocation</dd>
    </dl>
</div>
@if (Model.MeasurementType == Sorter.API.Measurement.MeasurementType.AllocationAndTurns)
{
<div id="turnCompletedResult">
    <h3>
        Lépésanalízis
    </h3>
    <dl>
        <dt>X tengely:</dt>
        <dd>Tömb index</dd>
        <dt>Y tengely:</dt>
        <dd>Tömb X indexű elemének értéke</dd>
        <dt>Használat:</dt>
        <dd>A diagram alatt lévő csúszkával léptethető a diagram a következő állapotra.</dd>
    </dl>
    <svg class="lepesanalizis"></svg>
    <input class="lepteto" />
    <h3>
        Távolságanalízis
    </h3>
    <dl>
        <dt>X tengely:</dt>
        <dd>Y értékű elem távolsága a végleges helyétől <i>(Negatív X=Az elem indexe kisebb, mint a végleges helyének indexe, Pozitív X=Az elem indexe nagyobb, mint a végleges helyének indexe)</i></dd>
        <dt>Y tengely:</dt>
        <dd>Elem értéke </dd>
        <dt>Használat:</dt>
        <dd>A diagram alatt lévő csúszkával léptethető a diagram a következő állapotra.</dd>
    </dl>
    <svg class="tavolsaganalizis"></svg>
    <input class="tavolsaglepteto" />

    <h3>Távolságdiagram</h3>
    <dl>
        <dt>X tengely:</dt>
        <dd>Eltelt körök száma [db]</dd>
        <dt>Y tengely:</dt>
        <dd><strong>Sárga - </strong> végleges helyétől legmesszebb elhelyezkedő elem távolsága a végleges helyétől [index]</dd>
        <dd><strong>Zöld - </strong> elemek átlagos abszolút távolsága a végleges helyüktől [index]</dd>
        <dd><strong>Kék - </strong> végleges helyükön lévő elemek száma [db]</dd>
    </dl>
    <svg class="tavolsagdiagram"></svg>

    <h3>
        Memóriatérkép
    </h3>
    <dl>
        <dt>X tengely:</dt>
        <dd>Eltelt idő [tick, 100ns]</dd>
        <dt>Y tengely:</dt>
        <dd>Heap mérete [db]</dd>
        <dt>Használat:</dt>
        <dd>A diagram alatt lévő Zoom In és Zoom Out gombokkal lehet a diagramot nagyítani, majd a diagram oldalán lévő görgetősávokkal lehet navigálni a diagram területén.</dd>
    </dl>
    <div class="memoriaterkepwrapper">
        <svg class="memoriaterkep"></svg>
    </div>
    <button class="btn zoom-in" value="Zoom In">Zoom In</button>
    <button class="btn zoom-out" value="Zoom Out">Zoom Out</button>
    
</div>
}
<dl>
    <dt>Az aktuális mérés URL-je:</dt>
    <dd>@Html.ActionLink(Model.SessionId.ToString(), "SavedSession", new { sessionId = Model.SessionId })</dd>
</dl>



@section Scripts{
    @if (Model.MeasurementType == Sorter.API.Measurement.MeasurementType.AllocationAndTurns)
    {
        <script src="http://d3js.org/d3.v3.min.js"></script>
        <script>
            var turnCompletedPath = '@string.Format("/Content/Results/{0}", Model.Result.TurnCompletedLog)';
            var deallocationPath = '@string.Format("/Content/Results/{0}", Model.Result.DeallocLog)';
        </script>
        <script src="~/Scripts/measurementResult.js"></script>
    }

}


