﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

dd {
    margin-left: 5px;
}

svg{
    background-color: #F6F6F6;
}

.summary{
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
    border-left: 1px lightgray solid;
    padding-left: 10px;
}

/*.bar {
    fill: steelblue;
}*/

    .bar:hover {
        fill: brown;
    }

.axis {
    font: 10px sans-serif;
}

    .axis path,
    .axis line {
        fill: none;
        stroke: lightgray;
        shape-rendering: crispEdges;
        opacity: 0.6;
    }

.slider {
    width: 1000px;
}

.memoriaterkepwrapper{
    display:block;
    width: 900px;
    overflow-x: auto;
    height: 625px;
    overflow-y: auto;
}

.circleInPlace {
    stroke: cornflowerblue;
    fill: cornflowerblue;
    opacity: 0.7;
}

.circleMax {
    stroke: orange;
    fill: orange;
    opacity: 0.7;
}

.circleMean {
    stroke: yellowgreen;
    fill: yellowgreen;
    opacity: 0.7;
}
